./framework/app_to_folder.py
./framework/clean_up.py
./framework/create_adagio_train_test.*
./framework/create_train_test.*
./framework/db_results_adam.*
./framework/db_results_old.*
./framework/fix_files_dir_names.*
./framework/logs/*
./framework/move_mattio_apps.*
./framework/output.*
./framework/prepare_job_array.*
./framework/random_select_100_apps_for_installable_exp.*
./framework/script.*
./framework/select_apps_for_installable_runnable_exp.*
./framework/typescript
./obfuscation_tools/Allatori/*
./obfuscation_tools/DashO/*
./framework/not_included/*
./obfuscation_tools/not_included
